extends layout

block content
    h1= title
    
    p
        .input-group
            .input-group-addon
                span(class='glyphicon glyphicon-globe')
            input(class='form-control', data-bind='value: url, attr: { readonly: ticket() }' placeholder='eg.: https://github.com/username/mymod/archive/v1.8.zip')
            .input-group-btn
                button.btn.btn-default(data-bind='click: submit, enable: !ticket() && !submitting()') Go!

    p
        img.loading(src='/images/loading.gif', data-bind='visible: submitting()')

    p
        .alert.alert-warning(data-bind='visible: isPamodsUrl()') Storing your mod zip archive on pamods.github.io is highly discouraged.
        .alert.alert-warning(data-bind='visible: isWrongGithubUsage()') Storing your mod zip archive inside your repository is an inappropriate way to use git. Use github <em>archive (Download ZIP)</em> or <em><a href='https://github.com/blog/1547-release-your-software' target='_blank'>release</a></em> mechanism instead.
        .alert.alert-danger(data-bind='text: error, visible: error()')

    div(data-bind='foreach: mods')
        .row.mod
            .col-lg-3.col-md-3.mod-left
                img.mod-icon(data-bind='attr: { src: ($data.icon ? $data.icon : "/images/generic.png") }')
                span.mod-context(class='label label-default' data-bind='text: $data.context')
                br
                span.mod-status(class='label' data-bind='text: $data.statusDisplay(), css: {\
                    "label-success": (status == "new" || status == "update")\
                   ,"label-primary": (status == "published")\
                   ,"label-default": (status == "disabled")\
                   ,"label-danger": (status == "invalid" || status == "unauthorized")\
                }')
            .col-lg-7.col-md-7
                .row
                    .col-lg-12
                        span.mod-name(data-bind='text: $data.display_name')
                        span.mod-author(data-bind='text: " by " + $data.author')
                .row
                    .col-lg-12
                        var.mod-identifier(data-bind='text: $data.identifier')
                        span.mod-path(data-bind='text: " (" + $data.path + ")", visible: $data.path')
                .row
                    .col-lg-12
                        span.mod-version(data-bind='text: "version: " + $data.version')
                        span.mod-build(data-bind='text: ", build: " + $data.build, visible: $data.build')
                        span.mod-date(data-bind='text: ", date: " + $data.date, visible: $data.date')
                .row
                    .col-lg-12
                        span.mod-description(data-bind='text: $data.description')
                .row
                    .col-lg-12
                        span.mod-categories(data-bind='text: categoriesDisplay()')
                .row.mod-links(data-bind='visible: $data.forum')
                    .col-lg-12
                        span [
                        a.mod-forum(data-bind='attr: { href: $data.forum }, visible: $data.forum') forum
                        span ]
                
                div.alerts-warning(data-bind='foreach: $data.warnings')
                    .alert.alert-warning(data-bind='html: $data')
                div.alerts-error(data-bind='foreach: $data.errors')
                    .alert.alert-danger(data-bind='html: $data')
                    
            .col-lg-2.col-md-2
                button(class="btn btn-default" data-bind='click: publish, visible: status === "new" || status === "update"')
                    .glyphicon.glyphicon-plus-sign
                    span  Publish
                button(class="btn btn-default" data-bind='click: disable, visible: status === "published"')
                    .glyphicon.glyphicon-minus-sign
                    span  Disable
                button(class="btn btn-default" data-bind='click: enable, visible: status === "disabled"')
                    .glyphicon.glyphicon-ok-sign
                    span  Enable
    
    script
        include ../public/javascripts/mod.js