img.loading
    position fixed
    top 50%
    left 50%
    margin-left -20px
    margin-top -20px
    z-index 1337

div.row.mod
    margin 20px 0 30px
    padding 10px
    background-color #f9
    box-shadow: 0px 5px 5px 0px #888888;
    
div.row.mod .row
    margin-bottom 2px

@media (min-width: 992px)
    .mod-left
        text-align right

.mod-right
    text-align left

@media (min-width: 992px)
    .mod-icon
        float right !important
        margin-left 5px

@media (max-width: 992px)
    .mod-icon
        float left !important
        margin-right 5px

.mod-icon
    width 100px
    height 100px

.mod-name
    font-weight bold
    font-size 1.2em
.mod-author
    font-size 0.9em

.mod-identifier
    font-size 0.8em
.mod-path
    font-size 0.8em

.mod-version
    font-size 0.85em

.mod-build
    font-size 0.85em

.mod-date
    font-size 0.85em

.mod-categories
    font-size 0.75em

.alerts-warning
    margin-top 5px

.alerts-error
    margin-top 5px

.alert
    padding 5px
    margin-bottom 2px